ip domain lookup source-interface Management1

{% for item in dns_servers %}
ip name-server vrf mgmt {{ item }}
{% endfor %}

ip routing vrf mgmt

ip route vrf mgmt 0.0.0.0/0 192.168.8.2

{% for item in ntp_servers %}
ntp server vrf mgmt {{ item }}
{% endfor %}